*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
html{
  scroll-behavior: smooth;
}
.orangeGradient{
  background: linear-gradient(to bottom, #FF8660, #D5491D);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
}